<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/todolist.css'>
    <link rel='stylesheet' href='/css/signin.css'>
  </head>
  <body>
      <div class='container'>

        <h1> TODO APP </h1>
        <hr />

        <!-- SHOW FLASH MESSAGES -->
        <% flash.each do | type , msg |  %>
          <div class='alert alert-dismissible alert-<%= type %>' role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= msg %>
          </div>
        <% end %>
        <!-- SHOW FLASH MESSAGES -->

        <!-- SHOW MAIN CONTENT -->
        <%= yield %>
        <!-- SHOW MAIN CONTENT -->

      </div>
      <script src='https://code.jquery.com/jquery-2.1.4.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
  </body>
</html>
